@model SEEIPro.Models.Expert

@{
    ViewBag.Title = "专家详情页";
    Layout = "~/Views/Shared/_LayoutPageExpertsManagement.cshtml";
}

@using SEEIPro.Models

<link href="~/Scripts/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

@if (Model != null)
{
    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="text-center">专家详情页</h3>
            </div>
            <div class="panel-body">
                <div class="panel">姓名：@Model.eName</div>
                <img class="expert-photo" style="width:130px;height:130px;position:absolute;right:15%;top:30%;" src="@Model.img" />
                <div class="panel">性别：@Model.gender</div>
                <div class="panel">
                    单位性质：
                    @foreach (UnitProperty unit in ViewBag.UnitList as List<UnitProperty>)
                    {
                        if (unit.id == Model.unitProperty)
                        {
                    @unit.unitProperties
                        }
                    }
                </div>
                <div class="panel">工作单位及职务：@Model.UnitDetailsOne</div>
                <div class="panel">邮箱：</div>
                <div class="panel">移动电话：@Model.cellPhone</div>
                <div class="panel">通讯地址：@Model.postalAddress</div>
                <div class="panel">业务分类：@Model.Categories</div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">个人简介（管理业务、研究方向）</div>
                <div class="panel-body">
                    @Model.expertIntroduction
                </div>
            </div>
            <div class="panel panel-success">
                <div class="panel-heading">主要工作简历（参加工作的经历）</div>
                <div class="panel-body">
                    @Model.expertworkingExperience
                </div>
            </div>
            <div class="panel panel-danger">
                <div class="panel-heading">主要工作业绩（所承担的项目、成果、专利、著作、已发表论文、研究报告、获奖情况等方面的介绍）</div>
                <div class="panel-body">
                    @Model.expertAchievement
                </div>
            </div>
            <div class="text-center">
                <a class="btn btn-primary" href="@Url.Action("Edit", "ExpertsManage", new { id = Model.sId })" title="点击进行修改">点击修改</a>
                <a class="btn btn-danger" href="@Url.Action("Index", "ExpertsManage")" title="点击返回专家列表">返回列表</a>
            </div> 
        </div>
      
    </div>

}
else
{
    <p class="text-danger">没有内容！</p>
}
